body {
    margin: auto;
    max-width: 60em;
    background: #fefefe;
}

#title + p img {
    top: 15pt;
}

#title + p img:last-of-type {
    padding-left: calc(60em - 54pt);
}

.exp-heading+table tr td:first-of-type {
    width: 33%;
}
